body{
    text-align: center;
    background-color: whitesmoke;
}

li {
    margin: 1% 1% 1% 1%;
    list-style-type: none;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
}


#year{
    text-shadow: black;
}


#txt{
    color: #fff;
    margin-left: 45%;
    margin-right: 45%;
    background-color: black;
}
